{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 id="title">Collaborators</h1>
      <div class="card-group">
    <!-- ALEX F-V  -->
      <div class="card about bg-dark">
        <img class="card-img-top" src="{% static 'img/profile_alex.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alex Flores-Veliz</h5>
          <p class="card-text">Alex is a Junior at Lehman College studying Computer Science. He enjoys yelling at his tv while watching football and practicing his hobby of graphic design as often as he can.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/AlexFloresVeliz"> Github</a></i>
        </div>
      </div>
    <!-- Jordan Falcon  -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/jordan_falcon_profile_pic.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jordan Falcon</h5>
          <p class="card-text">Jordan is currently a Computer Science student at Lehman College aspiring to a be a professional web developer.He strongly believes that Lebron James is the GOAT.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/j-falcon122"> Github</a></i>
        </div>
      </div>
    <!-- Harold De Leon  -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/profile_default.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Harold De Leon</h5>
          <p class="card-text">Harold is a Junior at Lehman College studying Computer Science.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/HaroldDLeon"> Github</a></i>
        </div>
      </div>
    </div>
    <!-- GROUP 2 -->
    <div class="card-group">
    <!-- Amado Suarez -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/amado_profile.jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Amado Suarez</h5>
          <p class="card-text">Amado is a passionate Junior working towards a B.S. degree in Computer Science at Lehman College. Strong interest in technology, software development, data science, and how these can be used to improve the world we live in.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/AmadoSuarez"> Github</a></i>
        </div>
      </div>
    <!-- Isaac Atif  -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/isaac_profile.jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Isaac Atif</h5>
          <p class="card-text">Isaac is a Junior at Lehman College studying Computer Science.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/Isaaclipse"> Github</a></i>
        </div>
      </div>
    </div>
</div>
</div>
</div>
{% endblock %}