{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 id="title">Collaborators</h1>
      <div class="card-group">
    <!-- ALEX F-V  -->
      <div class="card about bg-dark">
        <img class="card-img-top" src="{% static 'img/linknyc.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alex Flores-Veliz</h5>
          <p class="card-text">This bio belongs to Alex.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/AlexFloresVeliz"> Github</a></i>
        </div>
      </div>
    <!-- Jordan Falcon  -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/linknyc.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jordan Falcon</h5>
          <p class="card-text">This bio belongs to Jordan.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/j-falcon122"> Github</a></i>
        </div>
      </div>
    <!-- Harold De Leon  -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/linknyc.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Harold De Leon</h5>
          <p class="card-text">This bio belongs to Harold.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/HaroldDLeon"> Github</a></i>
        </div>
      </div>
    </div>
    <!-- GROUP 2 -->
    <div class="card-group">
    <!-- Amado Suarez -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/linknyc.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Amado Suarez</h5>
          <p class="card-text">This bio belongs to Amado.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/AmadoSuarez"> Github</a></i>
        </div>
      </div>
    <!-- Isaac Atif  -->
      <div class="card bg-dark">
        <img class="card-img-top" src="{% static 'img/linknyc.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Isaac Atif</h5>
          <p class="card-text">This bio belongs to Isaac.</p>
        </div>
        <div class="card-footer">
          <i class="fab fa-github-alt fa-lg"><a class="github-link" target="_blank" href="https://github.com/Isaaclipse"> Github</a></i>
        </div>
      </div>
    </div>
</div>
</div>
</div>
{% endblock %}