<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/googleMaps.js" ></script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>

    <p id="demo">demo</p>

    <script>
      function initMap() {
        var uluru = {lat: 40.7408092, lng: -73.98265169999999};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAso1CPfl8yBx56oJI7wVUE0yJL3o_bx0k&callback=initMap">
    </script>
  </body>
</html>
