{% extends 'base.html'  %}
{% load static %}
{% block title %}
    <title> Google Maps Demo</title>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAso1CPfl8yBx56oJI7wVUE0yJL3o_bx0k&callback=getLocation">
    </script>
    <script>
        console.log("loading...");
        var lat = 40.7408092;
        var long = -73.98265169999999;
        var shelter_locations = [];

        function refresh() {
          // TODO - Add functionality when map does not load.
          // $('body').load("ajax/google_maps.html");
        }
        
        function getLocation() {
          if (navigator.geolocation) {
            
            // TODO - fix real time geolocations, the line below currently works BUT slow
            // navigator.geolocation.getCurrentPosition(setPosition, error, options)

            initMap(lat, long)  //*For Demo* fixed coordinates to Baruch College

          } 
          else {
              $demo.html("Geolocation is not supported by this browser.");
          }

        }

        var options = {
          enableHighAccuracy: true,
          timeout: 30000,
          maximumAge: 0
        };

        function error(err) {
          console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        function setPosition(position){
          lat = position.coords.latitude;
          long = position.coords.longitude;
          initMap(lat, long)
        }

        function initMap(lat, long) {
          var uluru = {lat: lat, lng: long};
          var image = {
            url: "{% static  'img/pointer.png' %}",
          };

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
          });

          var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            draggable:true,
          });

          shelter_locations = getShelterLocations();
          for (var i = 0; i < shelter_locations.length; i++) {
            var shelter_location = shelter_locations[i];
            var marker = new google.maps.Marker({
              position: {lat: shelter_location[1], lng: shelter_location[2]},
              map: map,
              icon: image,
              title: shelter_location[0]
            });
          }

        }

        function getShelterLocations() {
          console.log("get here???");
            {% for shelter in shelters %}
                shelter_locations.push(['{{shelter.name}}', parseFloat('{{shelter.latitude}}'), parseFloat('{{shelter.longitude}}') ]);
            {% endfor%}
            console.log(shelter_locations);
            return shelter_locations;
          }
      </script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="map"></div>
    <button onclick="refresh()">Reload</button>
    <p id="demo" style="visibility: hidden">demo</p>
</div>
<div class="container">
    <h3>List of institutions:</h3>
    <div class="list-group">
        {% for item in shelters %}
            <a href="{% url 'sleepez:directions' origin=12 destination=123 %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="color:black">{{item.name}}</h5>
        </div>
        <p class="mb-1" style="color:black">Address: {{item.address}}
            <br/>       Phone Number: {{item.phone}}
        </p>
        </a>
        {% endfor %}
    </div>
    
</div>
{% endblock %}