#title {
  padding-top: 30px;
  color: #0077b5;
  font-weight: bold;
}

.page-text {
  line-height: 2em;
}

/*Carousel CSS*/

.carousel-caption > h5 {
  font-size: 2.7em;
  text-transform: uppercase;
}

.carousel-caption > p {
  font-size: 1.2em;
}

/*footer CSS*/

h5 {
  color: #ffffff;
}

.card-body > h5 {
  color: #eeeeee;
}

.card-text {
  color: #eeeeee;
}

hr {
  background-color: #aaaaaa;
}

#footer-text {
  color: #ffffff;
}

.contact {
  color: #ffffff;
}

.footer-copyright {
  color: #ffffff;
}

.fa-facebook {
  color: #3b5998;
}

.fa-facebook:hover {
  color: #ffffff;
}

.fa-twitter {
  color: #00aced;
}

.fa-twitter:hover {
  color: #ffffff;
}

.fa-github-alt {
  color: #222222;
}

.fa-github-alt:hover {
  color: #fff;
}

.fa-lg , .github-link{
  color: #fff;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

.github-link:hover {
  color: #333;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-linkedin:hover {
  color: #ffffff;
}

.fa-instagram {
  background: linear-gradient(330deg, #fdf497 0%, #fdf497 25%, #fd5949 50%, #d6249f 75%, #285AEB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-instagram:hover {
  background: linear-gradient(330deg, #fff 0%, #fff 25%, #fff 50%, #fff 75%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-copyright {
  background-color: #222222;
}
